/*CSS stylesheet for the index.html page*/
body {
  /* -webkit-filter: blur(5px);
  filter: blur(5px); */
  height: 100%;
  background-image: url("Pics/chua.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;  background-attachment: fixed; */
}
.header-img {
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}
/* Centered text */
.header-text {
  background-color: rgb(0,0,0); /* Fallback color */
  /* background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
/* .bg {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  background-image: url("Pics/PSU.jpg");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */
.hidden {
  display: none;
}
h1{
  text-align: center;
  font-family: "Lucida Sans Unicode", Verdana, Arial, serif;
  font-size: 50pt;
  color: #82b74b;
  /* padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px; */
  /* width: 900px; */
}
h2{
  font-family: "Lucida Sans Unicode", Verdana, Arial, serif;
  color: #275612;
}
h3{
  font-family: "Lucida Sans Unicode", Verdana, Arial, serif;
  color: white;
}
.container {
  /* background: rgba(0, 0, 0, 0.3); */
}
.container-fluid {
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  /* padding-left: 50px; */
}
.row {
  text-align: center;
  margin-bottom: 20px;
}
.img-fluid {
  text-align: center;
  max-width: 900px;
  height: auto;
}
.img-fluid:hover {
  opacity: 0.8;
}
#footer {
  background: rgba(0, 0, 0, 0)
}
.col {
  text-align: center;
}
/* p{
  font-family: "Lucida Sans Unicode", Verdana, Arial, serif;
  color: white;
}
/* #outer{
  width:auto;
  margin-left: auto;
  margin-right: auto;
} */
/* #inner{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin:0 auto;
  padding: 10px;
  display: inline-block;
  text-align: center;
}
#menu{
  color: black;
  background-color: green;
  display: block;
  float: left;
  width: 250px;
  padding-right: 10px;
  text-align: left;
}
#video{
  color: black;
  background-color: black;
  display: inline-block;
  width: 650px;
  height: 450px;
}
#info{
  color: black;
  background-color: blue; */
  /* display: block; */
  /* float: right;
  display: inline-block;
  width: 250px;
  padding: 10px;
  text-align: left;
}
#textblock{
  float: bottom;
  text-align: center;
}
pre{
  color: white;
}
a{
  color: white;
  text-decoration: underline;
} */
/* .lighten:hover{
  opacity:0.5;
} */
